@using Microsoft.AspNetCore.Identity
@using PlannerApp.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="fas fa-home"> Home</a>
    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="fas fa-cogs"> Manage</a>
    <a asp-area="" asp-controller="Profile" asp-action="Index" title="Profile" class="far fa-id-card"> Profile</a>
    <a asp-area="" asp-controller="TaskList" asp-action="Index" title="TaskList" class="far fa-list-alt"> TaskList</a>
    <a asp-area="" asp-controller="Calendar" asp-action="Index" title="Calendar" class="far fa-calendar-alt"> Calendar</a>
    <button type="submit" class="fas fa-sign-out-alt"> Log out</button>
</form>
}
else
{
    <a asp-area="" asp-controller="Account" asp-action="Register" class="fas fa-address-book"> Register</a>
    <a asp-area="" asp-controller="Account" asp-action="Login" class="fas fa-sign-in-alt"> Log in</a>
}
